{% set categories = __SELF__.categories %}

<div class="row">
  {% if categories is not empty %}

  {% for category in categories %}

      <div class="col s12 m7 l4">
        <a  class=" " href="{{ category.url }}">
        <div class="card waves-effect waves-block waves-light">
          <div class="card-image">
            <img src="{{ category.category_image.thumb(400, 400) }}">
            <span class="card-title red">{{category.category_name}}</span>
          </div>
        </div>
      </a>
      </div>

  {% endfor %}

  {% endif %}


</div>
